.main{
   /* background-image: url('../images/pattern-background-mobile.svg');
   background-size:contain;
   background-repeat: no-repeat; */
   border:1px solid red;
   margin:5rem 1.5rem;
   display:flex;
   flex-direction: column;
   /* height:437.3px; */
}

hr{
   margin-inline:0.5rem;
}

